.voteOption {
    display: flex;
    flex-grow: 1;
    padding: 50px;
}

.voteOption img {
    display: flex;
    height: 350px;
    margin: 0 50px;
}

.voteOption.right {
    flex-direction: row-reverse;
}

.label {
    margin-bottom: 12px;
    opacity: 0.6;
    font-family: montserrat-regular;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    color: #4a4a4a;
}

.title {
    font-size: 26px;
    font-family: montserrat-bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #4a4a4a;
}

.description {
    margin-bottom: 24px;
    font-family: montserrat-light;
    font-size: 16px;
    line-height: 1.7;
}

.voteInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}